MONZO_CLIENT_ID=<your monzo client>
MONZO_CLIENT_SECRET=<your monzo secret>
MONZO_REDIRECT_URI=http://localhost:3000/auth/monzo/callback

DB_HOST=<your database host>
DB_PORT=<your database port>
DB_USER=<your database user>
DB_PASSWORD=<your database password>
DB_NAME=<your database name>

ENCRYPTION_ALGORITHM=aes-256-cbc
ENCRYPTION_KEY=<your encryption key as 64 char hex>
ENCRYPTION_IV=<your encryption iv as 32 char hex>